@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto max-w-[1440px] bg-lite dark:bg-darkbg;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    @apply block;
  }
  input,
  textarea {
    @apply outline-none;
  }
}

.quill {
  .ql-snow .ql-stroke {
    @apply dark:stroke-white;
  }
  .ql-snow .ql-fill {
    @apply dark:fill-white;
  }
  @apply p-[15px] border border-strock dark:border-dark-strock rounded-[10px] w-full bg-inherit;
  .ql-toolbar.ql-snow {
    @apply border-none bg-text4 bg-opacity-[0.08] rounded-[10px] max-w-max mx-auto p-3 mb-4 dark:bg-opacity-100 dark:bg-dark-strock;
    .ql-formats {
      @apply mr-0;
    }
  }
  .ql-container.ql-snow {
    @apply border-none p-[10px] w-full;
  }
  .ql-editor.ql-blank::before {
    @apply text-text4 text-sm font-medium not-italic left-[10px] dark:text-text2;
  }
  .ql-editor {
    @apply p-0 dark:text-white min-h-[320px];
    strong {
      @apply font-semibold;
    }
    img {
      @apply inline-block;
      @apply w-full h-auto object-cover;
    }
  }
  .ql-container {
    @apply font-primary text-sm;
  }
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  .react-date-picker {
    @apply text-sm font-medium h-[52px] rounded-[10px] border border-solid border-strock px-[25px];
  }
  .react-date-picker__wrapper {
    @apply border-none;
  }
  .react-date-picker__clear-button {
    @apply hidden;
  }
}
